.about {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 300px;
  flex-direction: column;
}

.about_bg {
  background-image: url("../../../static/images/2.jpg");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
}

.about__bg-overlay {
  width: 100%;
  height: 400px;
  background: rgba(40, 167, 69, 0.6);
  color: $white;
  text-align: center;
  padding-top: 2rem;
}
.about__bg-overlay p {
  font-size: 20px;
}
.about_bg .btn {
  font-size: 18px;
  color: $primary;
}
.mt-6e {
  margin-top: 6rem;
}
section p {
  font-size: 15px;
}

.left-overlay_about_content {
  background: linear-gradient(
    270deg,
    rgba(17, 191, 86, 0.2) 43%,
    rgba(5, 173, 73, 0.9) 65%
  );
}

.right-overlay_about_content {
  background: linear-gradient(
    90deg,
    rgba(17, 191, 86, 0.2) 43%,
    rgba(5, 173, 73, 0.9) 65%
  );
}
