.about {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 300px;
  flex-direction: column;
}

.about_bg {
  background-image: url("../../../static/images/Going_Uphill.jpg");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
}

.about__bg-overlay {
  width: 100%;
  height: 400px;
  background: linear-gradient(
    0deg,
    rgba(17, 191, 86, 0.1) 0%,
    rgba(5, 173, 73, 0.7) 0%
  );
  color: $white;
  text-align: center;
  padding-top: 2rem;
}
.about__bg-overlay p {
  font-size: 20px;
}
.about_bg .btn {
  font-size: 18px;
  color: $primary;
}
.mt-6e {
  margin-top: 6rem;
}
section p {
  font-size: 15px;
}

.ts-gradient-background-start {
  background: linear-gradient(
    0deg,
    rgba(17, 191, 86, 0.1) 0%,
    rgba(5, 173, 73, 0.9) 0%
  );
}

.ts-gradient-background-end {
  background: linear-gradient(
    90deg,
    rgba(17, 191, 86, 0.1) 0%,
    rgba(5, 173, 73, 0.9) 0%
  );
}

// Align with Bootstrap's responsive breakpoints, 
//    https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
@media (min-width: 768px) {
  .ts-gradient-background-start {
    background: linear-gradient(
      270deg,
      rgba(17, 191, 86, 0.2) 43%,
      rgba(5, 173, 73, 0.9) 65%
    );
  }

  .ts-gradient-background-end {
    background: linear-gradient(
      90deg,
      rgba(17, 191, 86, 0.2) 43%,
      rgba(5, 173, 73, 0.9) 65%
    );
  }
}

.with-bg-image {
  background-size: cover;
  background-position: center;
}
