.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white !important;
}

.btn-primary:hover {
  background-color: $secondary;
  border-color: $secondary;
  color: $lg-accent !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.btn-primary:active {
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: $lg-accent !important;
}

.btn-primary:focus {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
}
