section {
    padding: 100px 0;
}


[class*="col-"] {
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
}

[class*="col-"]:first-child {
    border-left-width: 2px;
}

[class*="col-"]:last-child {
    border-right-width: 2px;
}

.md-tag {
    padding-bottom: 5px;
}

.md-tag>span{
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 5px;
    background: $lg-accent;
    border: 2px solid $primary;
    color: $gray-2;
}

.details-card {
    background: $white;
}

.card-content {
    height: 100%;
    background: $white;
    border: 4px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .2);
    margin-bottom: 0.5em;
}

.card-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px 2px 0px 0px;
    object-fit: cover;
}

.card-img span {
    position: absolute;
    top: 0;
    z-index: 1;
    background: $primary;
    min-width: 100%;
    overflow: hidden;
    height: 25px;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 2px 2px 0px 0px;
    color: $white;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-img span h4 {
    font-size: 12px;
    margin: 0;
    padding: 13px 5px;
    line-height: 0;
}

.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: $black;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: lighten($black, 20);
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
}

.btn-card {
    margin-right: 1em;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    background-color: $primary;
    border-color: $primary;
    color: $white !important;
    transition: all 150ms linear;
}

.btn-card:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: $lg-accent !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.10);
    transition: all 150ms linear;
}

a.btn-card {
    text-decoration: none;
    color: $white;
}