footer {
  border-top: 0.25em solid $primary;
  -webkit-box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 2em;
}

.footer-nav {
  list-style: none;
}

.link {
  color: rgba(0, 0, 0, 0.5);
  transition: all 150ms linear;
}

.link:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: all 150ms linear;
}

.reddit-icon-color {
  color: #ff4301;
}

.patreon-icon-color {
  color: #f96854;
}

.discord-icon-color{
  color: #5865F2
}

.twitter-icon-color{
  color: #1BAAE1
}

.facebook-icon-color{
  color: #3B5998
}