/* Navbar Specific */

nav {
  padding: 1em !important;
  background: $white;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-size: 2em;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../../../static/logos/collaspe.svg");
}

.nav-item {
  margin: 0.125em;
}

.download {
  margin-right: 0.5em;
}

/* Dropdown Specific */

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.dropdown-item {
  margin: 0.125em;
  padding: 0.125em 0.5em;
  border-radius: 5px;
  transition: all 150ms linear;
}

.dropdown-item:hover {
  transition: all 150ms linear;
  background-color: $lg-accent;
}

.dropdown-item:active,
.dropdown-item:focus {
  background-color: darken($lg-accent, 2);
}

.dropdown-menu.show {
  margin-bottom: 1em;
  padding: 10px;
  border: 0 solid transparent;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    &:before {
      position: absolute;
      top: -5px;
      left: 175px;
      display: inline-block;
      border-right: 0.4em solid transparent;
      border-bottom: 0.4em solid $white;
      border-left: 0.4em solid transparent;
      content: "";
    }
  }
}

.text-color {
  color: #6c757d;
}
.text-color:hover {
  color: $gray-2;
}
.active {
  color: $black;
  border-bottom: 4px solid $primary;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 6px;
  padding-bottom: 10px;
  z-index: 1;
  align-items: center;
}

.dropdown:hover .dropdown-content {
  width: 100px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

/* Dropdown Animation */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.dropdown {
  display: flex;
}
