.media-img {
  border: 5px solid transparent;
  cursor: -moz-zoom-in;
}

.media-img:hover {
  border-color: $secondary;
  transform: border-color 0.1s;
}

.media-modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(41, 41, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0px;
  left: 0px;
}

.lightbox {
  z-index: 10000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
