.media-modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(41, 41, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0px;
  left: 0px;
}

.lightbox {
  z-index: 10000;
  position: fixed;
  align-items: center;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
