#search-form > div {
  padding-top: 0px;
  padding-bottom: 0px;
}

#search-input,
#search-tag {
  font-size: 1.75rem;
}

.search-box .form-control {
  padding-left: 3.375rem;
}

.search-box .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  top: 38px;
  left: 22px;
  color: gray;
}

.option-position {
  text-align-last: center;
}
