// Color System

$primary: #08a045 !default;
$secondary: lighten($primary, 5) !default;
$white: #fdfdfd !default;
$gray: darken($white, 2) !default;
$gray-2: darken($white, 75) !default;
$black: #0f1211 !default;
$lg-accent: #f2e205 !default;
