// Color System

$primary: #28a745 !default;
$secondary: #218838 !default;
$white: #fdfdfd !default;
$gray: darken($white, 2) !default;
$gray-2: darken($white, 75) !default;
$black: #0f1211 !default;
$lg-accent: #d0f6e5 !default;
