iframe {
    width: 100%;
    min-height: 400px;
    padding-top: 5%;
}

.p-title {
    padding-top: 10%;
    font-style: italic;
}

.button {
    background-color: #4CAF50; /* Green */
    
}

.center-btn{
    text-align: center;
}

.link-about{
    color: white;
    font-weight: bold;
    
}

.sect-home {
    padding-top: 0%;
}